body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: rgb(235, 227, 219);
    margin-top: 130px;
    background-image: url(../img/book-open.png);
}
p {
    margin-top: 0;
    text-align: justify;
}
ul {
    margin: 1em 0;
    padding: 0;
    list-style: none;
}

/* ヘッダー */
.header {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.628);
    z-index: 200;
    /* background-image: url(../img/top-book.png); */
}
.logo-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo-area {
    width: 200px;
    margin: 0;
    text-align: left;
}
.logo-area img {
    width: 50px;
}

/* BOOK title */
.contents {
    margin-left: 20px;
}
.menu {
    text-align: left;
    font-size: 5rem;
    font-weight: bold;
    color: #393535;
}
.menu-y {
    color: rgb(18, 178, 178);
    font-size: 6rem;
}

/* search */
.search {
    margin-top: -50px;
    margin-bottom: 30px;
}
.book-search {
    color: rgb(67, 66, 66);
    border-bottom: 2px solid gray;
    margin:  0;
    font-weight: bold;
    font-size: 20px;
}
.search_bar{
    display: flex; /*アイコン、テキストボックスを調整する*/
    align-items: center; /*アイコン、テキストボックスを縦方向の中心に*/
    justify-content: center; /*アイコン、テキストボックスを横方向の中心に*/
    height: 50px;
    width: 50%;
    background-color: #ddd;
}
.search_icon{ /*アイコンに一定のスペースを設ける*/
    height: 15px;
    width: 15px;
    padding: 5px 5px;
}
#btn {
    width: 20%;
    height: 40px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	/* padding: 1rem 4rem; */
	font-weight: bold;
	background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
	border-radius: 100vh;
	color: #333;
	border: 1px solid #999;
	text-shadow: 0 1px #fff;
	box-shadow: 0 3px 2px 1px #fcfcfc, 0 4px 6px #cecfd1, 0 -2px 2px #cecfd1, 0 -4px 2px #eee, inset 0 0 2px 2px #cecfd1;
	transition: 0.5s;
}
#btn:hover {
    opacity: 0.5;
}
.album {
    margin-bottom: 40px;
}
.card {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.cardbody {
    width: 80%;
}
.cardbutton {
    width: 20%;
}
.cardbutton button{
    display: inline-block; /* ボタンを横並びにする */
    border: none; /* 枠線をなくす */
    border-radius: 5px; /* 角丸をつける */
    padding: 10px 15px; /* ボタンの内側の余白 */
    margin: 5px; /* ボタン同士の余白 */
    background-color: rgb(14, 177, 163); /* ボタンの背景色 */
    color: white; /* ボタンの文字色 */
    text-align: center; /* ボタンのテキストを中央揃えにする */
    text-decoration: none; /* テキストに下線をつけない */
    font-size: 15px; /* テキストのフォントサイズ */
    cursor: pointer; /* マウスポインタを変更する */
}

/* タブ切り替え */
.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-control {
    font-size: 16px;
    width: 100%; /*flexの中で100%広げる*/
    background-color: #ddd;
    border: none; /*枠線非表示*/
    outline: none; /*フォーカス時の枠線非表示*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}
.tab-wrap {
    display: flex;
    flex-wrap: wrap;
}
.tab-label {
    color: White;
    background: LightGray;
    margin-right: 5px;
    padding: 15px 20px;
    order: -1;
    border-top-left-radius: 20%;
}
.tab-content {
    width: 100%;
    display: none;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
    background: rgb(18, 178, 178);
}
.tab-switch:checked+.tab-label+.tab-content {
     display: block;
}
/* ラジオボタン非表示 */
.tab-switch {
    display: none;
}

/* 読みたい本のCSS */
.register {
    width: 95%;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    line-height: 3;
}
.contact-body{
    text-align: left;
}
.form-text {
    height: 2.4em;
    width: 50%;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.form-text:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}
.radio-kinds {
    display: block;
}
.check {
    margin-right: 10px;
}
.form-textarea {
    display: block;
    width: 50%;
    height: 100%;
    padding: 4px 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    resize: vertical;
}
.button-area {
    text-align: center;
    justify-content: space-between;
    margin: 20px;
}
.button-read {
    border: none; /* 枠線をなくす */
    border-radius: 5px; /* 角丸をつける */
    padding: 10px 15px; /* ボタンの内側の余白 */
    margin: 5px; /* ボタン同士の余白 */
    background-color: rgb(14, 177, 163); /* ボタンの背景色 */
    color: white; /* ボタンの文字色 */
    text-align: center; /* ボタンのテキストを中央揃えにする */
    text-decoration: none; /* テキストに下線をつけない */
    font-size: 15px; /* テキストのフォントサイズ */
    cursor: pointer; /* マウスポインタを変更する */
}
.button-delete {
    border: none; /* 枠線をなくす */
    border-radius: 5px; /* 角丸をつける */
    padding: 10px 15px; /* ボタンの内側の余白 */
    margin-left: 40px; /* ボタン同士の余白 */
    background-color: rgb(177, 14, 47); /* ボタンの背景色 */
    color: white; /* ボタンの文字色 */
    text-align: center; /* ボタンのテキストを中央揃えにする */
    text-decoration: none; /* テキストに下線をつけない */
    font-size: 15px; /* テキストのフォントサイズ */
    cursor: pointer; /* マウスポインタを変更する */
}

/* 登録リストCSS */
#list .blist {
    margin-bottom: 20px;
    width: 100%;
}
#list .btitle {
    font-size: 20px;
    border-top: 2px solid gray;
}
#list .bcontent {
    width: 100%;
}
#list .detail {
    display: flex;
}
#list .left {
    width: 40%;
    display: flex;
    justify-content:center
}
#list .right {
    width: 60%;
    margin-left: 20px;
}
#list button {
    display: inline-block; /* ボタンを横並びにする */
    border: none; /* 枠線をなくす */
    border-radius: 5px; /* 角丸をつける */
    padding: 10px 15px; /* ボタンの内側の余白 */
    margin: 5px; /* ボタン同士の余白 */
    background-color: rgb(14, 177, 163); /* ボタンの背景色 */
    color: white; /* ボタンの文字色 */
    text-align: center; /* ボタンのテキストを中央揃えにする */
    text-decoration: none; /* テキストに下線をつけない */
    font-size: 15px; /* テキストのフォントサイズ */
    cursor: pointer; /* マウスポインタを変更する */
}

/* 読んだ本CSS */
.readed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pre-read {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.readed li {
    margin-bottom: 30px;
    margin-left: 30px;
}
.readed li p {
    font-weight: bold;
    font-size: 20px;
    color:rgb(18, 178, 178);
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}
.u-clearfix:after {
  clear: both;
}

.subtle {
  color: #aaa;
}
.card-container {
  margin: 25px auto 0;
  position: relative;
  width: 392px;
}
.card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
}
.card-body {
  display: inline-block;
  width: 310px;
}
.card-number {
  margin-top: 15px;
}
.card-circle {
  font-size: 20px;
  text-align: center;
}
.card-author {
  display: block;
  font-size: 15px;
  letter-spacing: .5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}
.card-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin: 10px 0;
}
.card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
}
.card-read {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
}
.card-read:after {
  background-color: #b8bddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 9px;
  width: 60%;
}

/* ーーーー読んだ本リストテーブルCSSーーーー */
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background-color: #fff;
  }
  
  table tr{
    border-bottom: solid 1px #eee;
    cursor: pointer;
  }
  
  table tr:hover{
    background-color: #d4f0fd;
  }
  
  table th,table td{
    text-align: center;
    width: 25%;
    padding: 15px 0;
  }
